@model SD_340_W22SD_Final_Project_Group6.Models.ViewModel.EditProjectVm

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Project</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Project.AssignedTo)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (UserProject item in Model.Project.AssignedTo) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            </td>
                            <td>
                                <a asp-action="RemoveAssignedUser" asp-controller="Projects" asp-route-userid="@item.User.Id" asp-route-projectid="@Model.Project.Id">Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="hidden" value=@Model.Project.Id name="ticketId" />
                <br />
                <div class="form-group mt-4">
                    <label asp-for="AssignedUserId" class="control-label"></label>
                    <br />
                    @Html.ListBoxFor(model => model.AssignedUserId, new MultiSelectList(Model.AllDevelopers, "Value", "Text", @Model.AssignedUserId)
                    ,new {@class= "form-control developerslist mt-3",multiple="multiple", id="DevelopersList_Dropdown"})
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('.developerslist').multiselect();
        });
    </script>
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
}


